html {
  background-color: #f7d7d7;
}

body {
  color: #202020;
  font-family: "B612 Mono", monospace;
}

body > section {
  max-width: 800px;
  margin: auto;
  text-align: center;
  width: 100%;
}

section > ul {
  text-align: left;
}
